# Environment Configuration


# Dependency directory


# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# ngrok tunnel file


# vite build output
dist/

# extensions build output


# Node library SQLite database


# Ignore shopify files created during app dev
